<!DOCTYPE html>
{# Load the tag library #}
{% load bootstrap4 %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BASE</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler"
            aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarToggler">
        <a class="navbar-brand" href="#">DJANGO APP</a>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'basic_app:list' %}">Schools</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">-</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container">
    {% block body_block %}

    {% endblock %}
</div>

</body>
</html>