{% extends "basic_app/basic_app_base.html" %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block body_block %}
    <p class="lead">
        Are you sure you want to delete "{{ school.name }}" ?
    </p>

    <form method="post" class="form-group">
        {% csrf_token %}
        {% buttons %}
            <button type="submit" class="btn btn-danger" value="Delete">Confirm Delete</button>
            <a class="btn btn-primary" href="{% url 'basic_app:detail' pk=school.pk %}" >Cancel</a>
        {% endbuttons %}
    </form>

{% endblock %}