{% extends "basic_app/basic_app_base.html" %}

{% block body_block %}


    <h2 class="display-4">List of schools: </h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
        </tr>
        </thead>
        <tbody>
        {% for school in schools %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>
                    <a href="{{ school.id }}">{{ school.name }}</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}