{% extends "basic_app/basic_app_base.html" %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block body_block %}

    <h2>
        {% if not from.instance.pk %}
            Create School
        {% else %}
            Update School
        {% endif %}
    </h2>


    {# Display a form #}
    <form method="post" class="form-group">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary" value="Submit">Submit</button>
        {% endbuttons %}
    </form>



{% endblock %}