{% extends "basic_app/basic_app_base.html" %}
{# Load the tag library #}
{% load bootstrap4 %}

{% block body_block %}
    <div>
        <h2 class="display-4">School Details:</h2>

        <p>Name: {{ school_detail.name }}</p>
        <p>Principal: {{ school_detail.principal }}</p>
        <p>Location: {{ school_detail.location }}</p>
    </div>

    <div>
        <h3>Students: </h3>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
                <th scope="col">AGE</th>
            </tr>
            </thead>
            <tbody>
            {% for student in school_details.students.all %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    <td>{{ student.name }}</td>
                    <td>{{ student.age }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <a class="btn btn-warning" href="{% url 'basic_app:update' pk=school_detail.pk %}" role="button">Update</a>
    <a class="btn btn-danger" href="{% url 'basic_app:delete' pk=school_detail.pk %}">Delete</a>

{% endblock %}